.icl-footer--style-6 {
    text-align: center;
  }
  .icl-footer--style-6 .navbar-footer-menu {
    font-size: 1.1em;
    margin-bottom: 30px;
  }
  .icl-footer--style-6 .navbar-footer-menu .navbar-item {
    display: inline-block;
    font-weight: 600;
  }