.icl-testimonial.icl-testimonial--style-4 {
  width: 33.33%;
  padding: 15px;
  margin-bottom: 0;
  float: left;
}
@media screen and (max-width: 990px) {
  .icl-testimonial.icl-testimonial--style-4 {
    width: 50%;
    padding: 5px;
  }
}
@media screen and (max-width: 640px) {
  .icl-testimonial.icl-testimonial--style-4 {
    width: 100%;
  }
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__card {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease;
  color: #333;
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__content {
  font-size: 1.2em;
  font-size: var(--font-size);
  font-weight: 400;
  margin-bottom: 30px;
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__cite {
  display: flex;
  align-items: center;
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__cite-detail {
  flex: 1;
  padding-left: 15px;
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.icl-testimonial.icl-testimonial--style-4 .icl-testimonial__author {
  display: block;
  font-weight: 700;
}
.icl-testimonial.icl-testimonial--style-4 .star-rating {
  font-size: 10px;
}