.icl-section--pricing-13 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 0;
}

.icl-section--pricing-13 .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.icl-section--pricing-13 .py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.icl-section--pricing-13 .card-title {
  margin-bottom: 0.5rem;
}

.icl-section--pricing-13 .text-center {
  text-align: center !important;
}

.icl-section--pricing-13 .position-relative {
  position: relative !important;
}

.icl-section--pricing-13 .mb-5 {
  margin-bottom: 3rem !important;
}

.icl-section--pricing-13 .pricing-type-1 .price {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 16px;
  margin-top: 82px;
}

.icl-section--pricing-13 .btn.block {
  display: block;
  width: 100%;
}

.icl-section--pricing-13 .btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icl-section--pricing-13 .btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.icl-section--pricing-13 .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.575rem 0.75rem;
  font-size: 13px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
}

.icl-section--pricing-13 .rounded-pill {
  border-radius: 50rem !important;
}

.icl-section--pricing-13 .badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.icl-section--pricing-13 .bg-success {
  opacity: 1;
  background-color: green !important;
}

.icl-section--pricing-13 table {
  caption-side: bottom;
  border-collapse: collapse;
}

.icl-section--pricing-13 .table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: middle;
  border-color: #dee2e6;
}

.icl-section--pricing-13 .table > thead {
  vertical-align: bottom;
}

.icl-section--pricing-13 .table > tbody {
  vertical-align: inherit;
}

.icl-section--pricing-13 thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.icl-section--pricing-13 thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  white-space: nowrap;
}

.icl-section--pricing-13 tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.icl-section--pricing-13 .table > :not(caption) > * > * {
  padding: 0.5rem 1rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.icl-section--pricing-13 th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  color: #3d3d3d;
  font-weight: bold;
  padding: 0.8rem 1rem !important;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.icl-section--pricing-13 tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.icl-section--pricing-13 tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.icl-section--pricing-13 .my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

 /* pricing-type-4 */
 .icl-section--pricing-13 .pricing-type-4 table td:not([align]), table th:not([align]) {
  text-align: center !important;
}
.icl-section--pricing-13 .pricing-type-4 table {
  background-color: #F2F2F2;
  text-align: center !important;
}

.icl-section--pricing-13 .pricing-type-4 table th {
  background-color: #E70216;
  color: white;
}

.icl-section--pricing-13 .pricing-type-4 table tr {
  border-bottom: 1px solid #dee2e6;
}

.icl-section--pricing-13 .pricing-type-4 table th,
.icl-section--pricing-13 .pricing-type-4 table td {
  font-size: 12px;
  border: 0;
  padding: 16px 10px !important;
  vertical-align: middle !important;
}

.icl-section--pricing-13 .pricing-type-4 table tr td.speed {
  font-weight: bold;
}

.icl-section--pricing-13 .pricing-type-4 table tr td.speed h1 {
  font-weight: bold;
}

.icl-section--pricing-13 .pricing-type-4 table tr td.speed h1,
.icl-section--pricing-13 .pricing-type-4 table tr td h6 {
  margin-bottom: 0;
}

.icl-section--pricing-13 .pricing-type-4 table tr td .price {
  display: flex;
  align-items: end;
  justify-content: center;
}

.icl-section--pricing-13 .pricing-type-4 table tr td .price h2 {
  margin-bottom: 0;
}