@media screen and (min-width: 991px) {
    .icl-footer--style-7 .brand {
      position: absolute;
      width: 200px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: 990px) {
    .icl-footer--style-7 .brand {
      margin-bottom: 30px;
    }
  }
  .icl-footer--style-7 .footer-row.\--top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
  }
  @media screen and (max-width: 990px) {
    .icl-footer--style-7 .footer-row.\--top {
      flex-wrap: wrap;
    }
  }
  .icl-footer--style-7 .footer-row.\--bottom {
    border-top: 1px solid #e3e3e3;
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .icl-footer--style-7 .footer-left,
  .icl-footer--style-7 .footer-right {
    width: 100%;
  }
  .icl-footer--style-7 .footer-left {
    margin-left: 0;
  }
  @media screen and (min-width: 991px) {
    .icl-footer--style-7 .footer-left {
      padding-right: 100px;
    }
  }
  .icl-footer--style-7 .footer-right {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (min-width: 991px) {
    .icl-footer--style-7 .footer-right {
      padding-left: 100px;
    }
  }
  @media screen and (max-width: 990px) {
    .icl-footer--style-7 .footer-right {
      text-align: left;
      justify-content: flex-start;
    }
  }
  .icl-footer--style-7 .navbar-item {
    display: inline-flex;
  }