{% if specification %}
  <div class="w3-row field text-justify article-bodycustom field--name-field-pmb-media-ref field--type-entity-reference field--label-above">
    <label class="field__label">{{label}}</label>
    <div class="row">
      <table class="table-node-product-specification">
        <tbody>
          {% for item in specification %}
            <tr>
              <td>{{item.label}}</td>
              <td>:</td>
              <td>
                {% set value = item.value == '' ? '-' : item.value %}
                {{value}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}