.icl-feature--style-1 {
    text-align: center;
    margin-bottom: 30px;
}
.icl-feature--style-1 .icl-feature__title {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: inherit;
}
.icl-feature--style-1 .icl-feature__title strong {
    color: inherit;
}

.justify-content-center {
    justify-content: center;
}