/* Content 13 */
.icl-section--content-13 .has-text-centered {
  justify-content: center;
  text-align: center;
}
.icl-section--content-13 .has-text-left {
  justify-content: flex-start;
  text-align: left;
}
.icl-section--content-13 .has-text-right {
  justify-content: flex-end;
  text-align: right;
}