{% if is_people_page %}
<a
    href="{{ create_user_url }}"
    class="button button--primary js-form-submit form-submit"
    id="add-user-button"
    style="color: #fff; border-color: #1e5c90; background-color: #0071b8; background-image: -webkit-linear-gradient(top, #007bc6, #0071b8); background-image: linear-gradient(to bottom, #007bc6, #0071b8); text-shadow: 0 1px hsla(0, 0%, 0%, 0.5); font-weight: 700; padding: 10px; display: inline-block; border-radius: 30px; margin-bottom: 20px;"
>Add User</a>
{% endif %}
{% if content %}
{{ content }}
{% endif %}