{% if node_media %}
  <div class="w3-row field text-justify article-bodycustom field--name-field-pmb-media-ref field--type-entity-reference field--label-above">
    <label class="field__label">List Media</label>
    <div class="row">
      {% for media in node_media %}
        <div class="col-4 bundle-list-media">
          {{media}}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}