.icl-section--product-3 .section-subtitle {
  font-size: 1.2em;
}
.icl-product--style-3 {
  background-color: white;
  border-radius: 5px;
  color: #333;
  margin-bottom: 30px;
}
.icl-product--style-3 .icl-product__header {
  padding: 15px;
}
.icl-product--style-3 .icl-product__top_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.icl-product--style-3 .icl-product__title {
  font-weight: 700;
  font-size: 18px;
}
.icl-product--style-3 .icl-product__image {
  position: relative;
  padding-bottom: 100%;
}
.icl-product--style-3 .icl-product__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.icl-product--style-3 .icl-product__detail {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icl-product--style-3 .icl-product__subtitle {
  font-size: 1em;
  font-weight: 700;
}