.icl-testimonial.icl-testimonial--style-7 {
  padding: 30px;
  background-color: white;
  color: #333;
}
.icl-section--testimonial-7 .content-spacer {
  max-width: 760px;
  margin: auto;
}
.icl-testimonial.icl-testimonial--style-7 .icl-testimonial__content {
  font-weight: 400;
}
.icl-testimonial.icl-testimonial--style-7 .icl-testimonial__avatar {
  border-radius: 50%;
}
.icl-testimonial.icl-testimonial--style-7 .icl-testimonial__cite {
  display: flex;
  align-items: center;
}
.icl-testimonial.icl-testimonial--style-7 .icl-testimonial__cite-detail {
  flex: 1;
  padding-left: 15px;
}
.icl-testimonial.icl-testimonial--style-7 .icl-testimonial__author {
  font-weight: 700;
  display: block;
}

.icl-section--testimonial-7 .tns-outer .tns-controls button {
  background-color: white;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  right: -60px !important;
  left: auto!important;
}
.icl-section--testimonial-7 .tns-outer .tns-controls button[data-controls="prev"] {
  bottom: 60px;
}
.icl-section--testimonial-7 .tns-outer .tns-controls button[data-controls="prev"]:after {
  content: "arrow_upward";
}
.icl-section--testimonial-7 .tns-outer .tns-controls button[data-controls="next"] {
  top: 60px;
}
.icl-section--testimonial-7 .tns-outer .tns-controls button[data-controls="next"]:after {
  content: "arrow_downward";
}
@media screen and (max-width: 640px) {
  .icl-section--testimonial-7 .tns-outer .tns-nav {
    display: none;
  }

  .icl-section--testimonial-7 .tns-outer .tns-controls {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
  }

  .icl-section--testimonial-7 .tns-outer .tns-controls button {
    display: inline-block;
    position: static;
    margin: 0 5px;
  }
}
