.icl-testimonial.icl-testimonial--style-9 {
  margin-bottom: 30px;
  text-align: center;
}
.icl-testimonial.icl-testimonial--style-9 .icl-testimonial__content {
  font-weight: 400;
  font-size: var(--font-size);
}
.icl-testimonial.icl-testimonial--style-9 .icl-testimonial__cite {
  margin-bottom: 15px;
}
.icl-testimonial.icl-testimonial--style-9 .icl-testimonial__author {
  font-weight: 700;
  display: block;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.testimonial-grid .icl-testimonial {
  width: 50%;
  padding: 15px;
}
@media screen and (max-width: 640px) {
  .testimonial-grid .icl-testimonial {
    width: 100%;
  }
}