.icl-pricing--style-6 {
  padding: 50px 30px;
  border: 1px solid #e3e3e3;
  text-align: center;
}
.icl-pricing--style-6.is-featured {
  border: 5px solid var(--primaryColor);
}
.icl-pricing--style-6 .icl-pricing__title {
  color: inherit;
}
.icl-pricing--style-6 .icl-pricing__price {
  display: block;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  margin: 60px 0;
}
.icl-pricing--style-6 .icl-pricing__price .prefix,
.icl-pricing--style-6 .icl-pricing__price .suffix {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 700;
}
.icl-pricing--style-6 .icl-pricing__price > div {
  display: inline-block;
}
.icl-pricing--style-6 .icl-pricing__price .prefix {
  vertical-align: top;
}
.icl-pricing--style-6 ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin: 30px 0 0;
}
.icl-pricing--style-6 ul li {
  margin-bottom: 10px;
  font-weight: 700;
}