{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{% if is_people_page or show_default_form %}
<div class="w3-block cms-exposed-form form--inline clearfix">
  {{ form }}
</div>
{% else %}
<div class="col-md-5 search-form">
    <div class="form-group row">
        <label for="search" class="col-lg-2 col-form-label px-0">Search</label>
        <div class="col-lg-9">
        <input type="text" name="title" value="{{q_title}}" class="form-control" id="search">
        </div>
    </div>
</div>
{% endif %}
{# <div class="col-md-5 kategori-form">
    <div class="form-group row">
        <label for="Kategori" class="col-lg-3 col-form-label">Kategori</label>
        <div class="col-lg-9">
        <select name="" id="" class="form-control">
            <option value="internet">Internet</option>
            <option value="internet">Internet II</option>
            <option value="internet">Internet III</option>
        </select>
        <span class="dropdown-select-icon"></span>
        </div>
    </div>
</div> #}