.icl-contact--style-2 {
  padding-left: 40px;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
}
.icl-contact--style-2 .icl-contact__icon {
  position: absolute;
  left: 0;
  top: 0;
}