.icl-section--pricing-10 .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: 0;
}

.icl-section--pricing-10 .card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.icl-section--pricing-10 .py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.icl-section--pricing-10 .card-title {
  margin-bottom: 0.5rem;
}

.icl-section--pricing-10 .text-center {
  text-align: center !important;
}

.icl-section--pricing-10 .position-relative {
  position: relative !important;
}

.icl-section--pricing-10 .mb-5 {
  margin-bottom: 3rem !important;
}

.icl-section--pricing-10 .pricing-type-1 .price {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 16px;
  margin-top: 82px;
}

.icl-section--pricing-10 .btn.block {
  display: block;
  width: 100%;
}

.icl-section--pricing-10 .btn-danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.icl-section--pricing-10 .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  /* color: #212529; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: transparent; */
  /* border: 1px solid transparent; */
  /* padding: 0.575rem 0.75rem; */
  /* font-size: 13px !important; */
  /* border-radius: 0.25rem; */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icl-section--pricing-10 .button {
  height: auto !important;
}

.icl-section--pricing-10 .rounded-pill {
  border-radius: 50rem !important;
}

.icl-section--pricing-10 .badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.icl-section--pricing-10 .bg-success {
  opacity: 1;
  background-color: green !important;
}

/* pricing-type-2 */
.icl-section--pricing-10 .pricing-type-2 .speed-title {
  display: flex;
  align-items: center;
}

.icl-section--pricing-10 .pricing-type-2 .speed-title span {
  font-size: 12px;
  color: #a6a9b0;
  margin-left: 5px;
}

.icl-section--pricing-10 .pricing-type-2 .speed {
  display: flex;
  align-items: end;
  margin-top: 32px;
}

.icl-section--pricing-10 .pricing-type-2 .speed h2 {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: 5px;
}

.icl-section--pricing-10 .pricing-type-2 .price {
  display: flex;
  align-items: end;
  margin-top: 20px;
}

.icl-section--pricing-10 .pricing-type-2 .price h3 {
  margin-bottom: 0;
}

.icl-section--pricing-10 .pricing-type-2 .price span {
  margin-left: 5px;
  color: #B2B4B7;
}

.icl-section--pricing-10 .pricing-type-2 .description {
  margin-top: 20px;
}

.icl-section--pricing-10 .pricing-type-2 .description p {
  margin-bottom: 0;
  font-size: 12px;
}

.icl-section--pricing-10 .pricing-type-2 .description small {
  font-size: 10px;
  color: #4F4F4F;
}

.icl-section--pricing-10 .pricing-type-2 .benefit-title {
  display: flex;
  align-items: center;
}

.icl-section--pricing-10 .pricing-type-2 .benefit-title span {
  font-size: 12px;
  color: #a6a9b0;
  margin-left: 5px;
}

.icl-section--pricing-10 .pricing-type-2 .benefit-list {
  margin-top: 10px;
}

.icl-section--pricing-10 .pricing-type-2 .benefit-list ul {
  list-style: square;
  color: #4F4F4F;
  margin-bottom: 1rem;
}

.icl-section--pricing-10 .pricing-type-2 .benefit-list ul li {
  font-size: 12px;
}

.icl-section--pricing-10 .pricing-10 .column {
  display: grid !important;
}