/* Content 22 */
.icl-section--content-22 .icl-feature {
    border-radius: 0;
    padding: 0;
}
.icl-section--content-22 .icl-feature.featured {
    padding-top: 50px;
    padding-bottom: 50px;
}
.icl-section--content-22 .icl-feature__card {
    padding: 30px;
}