.icl-section--product-8 .star-rating {
  margin-bottom: 15px;
}
.icl-section--product-8 .price {
  margin-bottom: 30px;
}
.icl-section--product-8 .price-amount {
  font-size: 24px;
  color: inherit;
}