.pricing-15 {
  background-color: red;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  text-align: center;
}

.pricing-15-card {
  background-color: white;
  padding: 26px 32px;
  margin-bottom: 10px;
  border-radius: 14px;
}

.pricing-15-card .title {
  margin-bottom: 2rem;
}

.pricing-15-card .title .packet-type {
  text-transform: uppercase;
  font-size: 20px;
}

.pricing-15-card .title .packet-speed {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pricing-15-card .title h1 {
  text-transform: uppercase;
  font-size: 42px;
  color: red;
}

.pricing-15-card .pricing-15-card-body .content {
  margin-bottom: 2rem;
  font-size: 16px;
  color: #252424;
}

.pricing-15-card .price {
  color: red;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pricing-15-card .price .currency {
  font-size: 18px;
}

.pricing-15-card .price .nominal {
  font-size: 32px;
  font-weight: bold;
}

.pricing-15-card .price .month {
  font-size: 18px;
  align-self: end;
}

.pricing-15-card-footer a {
  text-decoration: none;
}

.pricing-15-card-footer button {
  padding: 14px 26px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 60px;
}

.border-bottom::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 2px solid gray;
  margin: 0 auto;
  margin-top: 24px;
}
