.icl-testimonial.icl-testimonial--style-2 {
  margin: 20px 0;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__card {
  padding: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__title {
  font-weight: 700;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__content {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__cite {
  display: flex;
  align-items: center;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__cite-detail {
  padding-left: 15px;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__author {
  font-weight: 700;
  display: block;
}
.icl-testimonial.icl-testimonial--style-2 .icl-testimonial__author-title {
  color: #888;
  font-size: 14px;
}

.icl-section--testimonial-2 .tns-outer .tns-controls button {
  background-color: white;
  color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.icl-section--testimonial-2 .tns-outer .tns-controls button[data-controls="prev"] {
  left: 0px;
}
.icl-section--testimonial-2 .tns-outer .tns-controls button[data-controls="next"] {
  right: 0px;
}