.icl-section--product-1 .star-rating {
  margin-bottom: 40px;
}

.icl-section--contact-7 .icl-form {
  background-color: #fbfbfb;
  padding: 20px;
  color: #333;
}

.qa-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.qa-grid .qa-item {
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 640px) {
  .qa-grid .qa-item {
    width: 100%;
  }
}

.qa-grid .qa-q {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.qa-grid .qa-a {
  font-size: 16px;
}

.icl-contact--style-2 {
  padding-left: 40px;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
}

.icl-contact--style-2 .icl-contact__icon {
  position: absolute;
  left: 0;
  top: 0;
}