.icl-section--testimonial-8 .section-subtitle {
  margin-top: 0;
}
.icl-section--testimonial-8 .tns-outer {
  margin: 0 -15px;
}

.icl-testimonial.icl-testimonial--style-8 .icl-testimonial__card {
  padding-left: 100px;
  position: relative;
  padding-right: 15px;
}
.icl-testimonial.icl-testimonial--style-8 .icl-testimonial__avatar {
  position: absolute;
  left: 20px;
  top: 0;
  border-radius: 50%;
}
.icl-testimonial.icl-testimonial--style-8 .icl-testimonial__author {
  font-weight: 700;
  display: block;
}
.icl-testimonial.icl-testimonial--style-8 .icl-testimonial__cite {
  margin-bottom: 20px;
  padding-top: 5px;
}
.icl-testimonial.icl-testimonial--style-8 .icl-testimonial__content {
  font-weight: 400;
  font-size: var(--font-size);
}

.icl-section--testimonial-8 .tns-outer .tns-controls button {
  left: auto!important;
  top: auto;
  bottom: 100%;
  margin-bottom: 60px;
  background: transparent;
  color: #333;
}
.icl-section--testimonial-8 .tns-outer .tns-controls button:after {
  font-size: 30px;
}
.icl-section--testimonial-8 .tns-outer .tns-controls button[data-controls="prev"] {
  right: 50px;
}
.icl-section--testimonial-8 .tns-outer .tns-controls button[data-controls="prev"]:after {
  content: "arrow_back";
}
.icl-section--testimonial-8 .tns-outer .tns-controls button[data-controls="next"] {
  right: 0;
}
.icl-section--testimonial-8 .tns-outer .tns-controls button[data-controls="next"]:after {
  content: "arrow_forward";
}