.icl-section-slider-4 .container,
.icl-section-slider-4 .container-fluid {
  display: flex;
}
.icl-section-slider-4 .container.flex-start,
.icl-section-slider-4 .container-fluid.flex-start {
  text-align: left;
}
.icl-section-slider-4 .container.center,
.icl-section-slider-4 .container-fluid.center {
  text-align: center;
  justify-content: center;
}
.icl-section-slider-4 .container.flex-end,
.icl-section-slider-4 .container-fluid.flex-end {
  text-align: right;
}
@media screen and (min-width: 991px) {
  .icl-section-slider-4 .content-spacer {
    width: 60%;
  }
}