.icl-footer--style-8 .navbar-item {
    display: inline-flex;
  }
  .icl-footer--style-8 .footer-row.\--bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 991px) {
    .icl-footer--style-8 .footer-right .navbar-social-icons {
      justify-content: flex-end;
    }
  }